<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>here is the about page.</h2>
        <h3>This tutorial has been put together by </h3>
        <img src="{% static "images/one.png" %}" alt="simple one">
        <img src="{{ MEDIA_URL }}images/two.png" alt="simple two">
    </div>
</body>
</html>